<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Emglish</string>
	<key>CFBundleIdentifier</key>
	<string>com.fljagd.DummyTrim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DummyTrim</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com_apple_iokit_data_set_management</key>
		<dict>
			<key>CFbundleidentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>Force Data Set Management</key>
			<true/>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Fljagd. All rights reserved.</string>
</dict>
</plist>
